.my-name {
  border-right: solid 3px rgba(5, 151, 255, 0.75);
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 auto;

  /* Combined typing and backspace animation */
  animation: typing-backspace 15s steps(29, end) infinite,
    cursor-blink 700ms steps(29, end) infinite;
}

/* Combined typing and backspace keyframe */
@keyframes typing-backspace {
  20% {
    width: 0;
  }
  50% {
    width: 240px; /* Adjust to the width of the full text */
  }
  65% {
    width: 240px; /* Pause after typing */
  }
  100% {
    width: 0; /* Backspace effect */
  }
}

/* Cursor blink effect */
@keyframes cursor-blink {
  from {
    border-right-color: rgba(5, 151, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
